@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Wine Colors */
  --wine-900: #4a0404;
  --wine-800: #720e1e;
  --wine-100: #fce7e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #09090b;
    /* Zinc 950 for deeper black */
  }
}

::selection {
  background: var(--wine-900);
  color: white;
}